html {
    font-size: 16px;
}

.App {
    text-align: center;
}
.error {
    font-size: 12px;
    color: red;
    text-align: center;
}
.loading {
    background-image: url('./img/loading.gif');
    display: block;
    width: 200px;
    height: 200px;
}
#logo {
    background-image: url('./img/cart.png');
    display: block;
    width: 72px;
    height: 72px;
}
#logo-small {
    background-image: url('./img/cart-small.png');
    display: block;
    width: 32px;
    height: 32px;
    float: left;
    margin-top: 25px;
    margin-right: 16px;
}

.logout {
    float: right;
    cursor: pointer;
    font-size: 32px;
}
.logout .glyphicon-off:hover{
    color: #d9534f;
}


#dashboard-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: white;
}
@media (min-width: 768px) {
    #dasboard-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}
a {
    cursor: pointer;
}
.right {
    float: right !important;
}
.semi-right {
    float: right;
}
@media (max-width: 768px) {
    .semi-right {
        float: none;
    }
    .alert-row {
        margin-bottom:10px;
    }
}
.page-header {
    border-bottom: 1px solid #adadad;
}
.page-header h3 {
    font-style: italic;
    padding-top: 10px;
}
@media (max-width: 768px) {
    .page-header h3 {
        font-size: 16px;
    }

    #logo-small {
        background-image: url('./img/cart-small.png');
        display: block;
        width: 32px;
        height: 32px;
        float: left;
        margin-top: 20px;
        margin-right: 16px;
    }
}
.back {
    font-size: 28px;
    float: left;
}
.panel {
    -webkit-box-shadow: 4px 4px 9px 0px rgba(0,0,0,0.56);
    -moz-box-shadow: 4px 4px 9px 0px rgba(0,0,0,0.56);
    box-shadow: 4px 4px 9px 0px rgba(0,0,0,0.56);
}
.panel i {
    cursor: pointer;
}
.panel .glyphicon-ok:hover{
    color: #5cb85c;
}
.panel .glyphicon-remove:hover{
    color: #d9534f;
}
.panel .glyphicon-pencil:hover{
    color: #5cb85c;
}
.panel-heading{
    font-size: 15px;
    height: 45px;
    padding: 7px 10px 0px 8px;
}
.panel-heading .control {
    float: right;
    padding-top: 5px;
    font-size: 17px;
}

.panel-heading .panel-label {
    float: left;
    padding-top: 6px;
    padding-left: 8px;
}
.panel-heading span i{
    margin-left: 10px;
}
.panel-body i {
    font-size: 50px;
}
.panel-body .items {
    text-align: right;
}
.panel-body .list-body {
    cursor: pointer;
}
.panel-body .list-body:hover {
    color: #0275d8;
}
.panel-body .items .items-number{
    font-size: 25px;
}
.panel-body .items .items-label {
    font-size: 13px;
    font-style: italic;
}

.panel-success {
    border-color: #6db662;
}
.panel-footer {
    font-size: 15px;
    height: 46px;
    padding: 7px 8px 6px 8px;
}

.panel-footer div {
    padding-top: 6px;
    padding-left: 8px;
}

.edit-list .panel-body {
    cursor: pointer;
    text-align: center;
}
.edit-list .panel-body:hover {
    color: #5cb85c;
}
.edit-list input {
    height: 31px;
    font-size: 15px;
}
.alert.new-item {
    cursor: pointer
}
.alert.new-item:hover{
    color: #5cb85c;
}
.alert i {
    font-size:19px;
    margin-left: 10px;
}
@media (max-width: 768px) {
    .alert-row {
        margin-bottom:10px;
    }
}

.alert-row span {
    font-size: 15px;
    font-size: 15px;
    font-weight: 600;
}

.alert-row i {
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
}

.dropdown .btn {
    width: 159px;
}
.dropdown .caret {
    margin-left:10px;
}

.shopping-list-datepicker {
    font-size: 15px;
    cursor: pointer;
}